" Useful resources:
" - Mapping IDE actions: https://jb.gg/abva4t
" - List of commands:    https://jb.gg/h38q75
" - Community examples:  https://jb.gg/share-ideavimrc
" - https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

let mapleader=" "

""" Settings
set ideaput
set scrolloff=15
set number
set relativenumber
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set incsearch
"set noignorecase
set ignorecase
set smartcase   " if any search character is uppercase then use case sensitive
set hlsearch

""" Plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'

""" Vim key binds
map <leader> <nop>
inoremap jj <Esc>
nnoremap <A-p> <Action>(PreviousTab)
nnoremap <A-n> <Action>(NextTab)

""" Random utilities
nnoremap <Esc> :set invhlsearch<CR>
nmap <leader>vv <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>: <Action>(CommentByLineComment)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>sp <Action>(NewScratchFile)
map <leader>h <Action>(QuickJavaDoc)

" Tabs
map <leader>t <Action>(ActivateTerminalToolWindow)
map <leader>q <Action>(CloseContent)
map <leader>c <Action>(ReopenClosedTab)
map <leader>n <Action>(NextSplitter)
map <leader>z <Action>(MaximizeEditorInSplit)
map <leader>sc <Action>(ChangeSplitOrientation)
map <leader>sv <Action>(MoveTabRight)
map <leader>sh <Action>(MoveTabDown)
map <leader>su <Action>(Unsplit)
map <leader>sm <Action>(MoveEditorToOppositeTabGroup)

" Display options
map <leader>dd <Action>(ToggleDistractionFreeMode)
map <leader>df <Action>(ToggleFullScreen)
map <leader>dp <Action>(TogglePresentationMode)

" Searching
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(FindInPath)
map <leader>sl <Action>(RecentLocations)

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>ri <Action>(ReformatCode)
map <leader>rp <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap <leader>gD <Action>(GotoDeclaration)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gr <Action>(ShowUsages)
nmap <leader>gr <Action>(ShowUsages)
nmap C-t <Action>(Back)
