// Run `niri msg outputs` to list connector names / modes.

output "Xiaomi Corporation Mi Monitor Unknown" {
    mode "3440x1440@144.000"
    position x=0 y=0
}

output "eDP-1" {
    scale 1.2
}

output "Xiaomi Corporation Mi Monitor 0000000000000" {
    mode "3440x1440@59.999"
}
