include "input.kdl"
include "keybinds.kdl"
include "layout.kdl"
include "output.kdl"
include "rules.kdl"

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

spawn-sh-at-startup "swaybg --image ~/wallpapers/current --mode fill"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "waybar"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "xwayland-satellite"
