layout {
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left  "{mode}#[fg=#cdd6fa,bg=#1e1e2e,bold] [{session}] #[bg=#1e1e2e]{tabs}"
                format_right "#[fg=#fab387,bg=#1e1e2e,bold]{swap_layout} {datetime}"
                format_space "#[bg=#1e1e2e]"

                border_enabled  "true"
                border_char     "─"
                border_format   "#[fg=#a6d189]"
                border_position "top"

                mode_locked          "#[bg=#f38ba8,fg=#11111b,bold]  "
                mode_normal          "#[bg=#89b4fa,fg=#11111b,bold] N "
                mode_pane            "#[bg=#a6e3a1,fg=#11111b,bold] P "
                mode_rename_pane     "#[bg=#a6e3a1,fg=#11111b,bold] {name} "
                mode_tab             "#[bg=#fab387,fg=#11111b,bold] T "
                mode_rename_tab      "#[bg=#fab387,fg=#11111b,bold] {name} "
                mode_tmux            "#[bg=#f9e2af,fg=#11111b,bold] {name} "
                mode_default_to_mode "tmux"

                tab_normal               "#[fg=#6c7086,bg=#1e1e2e] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_active               "#[fg=#bac2de,bg=#1e1e2e,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
                tab_fullscreen_indicator " "
                tab_sync_indicator       "󰓦 "
                tab_floating_indicator   " "

                datetime          "#[fg=#cdd6fa,bg=#1e1e2e] {format} "
                datetime_format   "%A, %d %b %Y %H:%M"
                datetime_timezone "Europe/Paris"
            }
        }
    }
}
